/* #region Common */
:root {
    --dark: #222222;
    --gray: #4A4A4A;
    --success: #4BC800;
    --warning: #FF0026;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

header {
    display: flex;
    justify-content: flex-end;
    column-gap: 10px;
    padding: 0.5rem;
}

a {
    text-decoration: none;
}

/* #region Utility */
.btn {
    padding: 2px;
    background-color: var(--gray);
    color: white;
    border-radius: 5px;
    font-size: 13px;
}

/* #region Header */